<div class="card-dashboard">
    <div class="card-dashboard-body">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action h-100" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">Título da emenda longa 01</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuMinhasEmendas.html"></div>
                </div>
                <span class="list-group-item-subtitle">MPV 1028/2022</span>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
          </div>
    </div>
</div>

