<div class="dropdown">
    <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" title="Menu de ações">
        <span class="context-menu"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item disabled" href="#">Criar emenda</a></li>
        <li><a class="dropdown-item ps-4" href="#">Padrão</a></li>
        <li><a class="dropdown-item ps-4" href="#">Onde couber</a></li>
        <li><a class="dropdown-item ps-4" href="#">Substitutivo</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Quadro de emendas</a></li>
    </ul>
</div>

