<div class="card-dashboard">
    <div class="card-dashboard-body">
        <div class="list-group-pesquisa">
            <a href="#" class="list-group-item list-group-item-action prazo-aberto" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action prazo-aberto" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action prazo-aberto" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="list-group-item-title">MPV 1028/2022</h6>
                    <div w3-include-html="/src/views/dashboard-html/DashboardMenuEmendas.html"></div>
                </div>
                <div class="list-group-item-subtitle">
                    Estabelece normas para facilitação de acesso a crédito e mitigação dos impactos econômicos decorrentes da pandemia da covid-19.
                </div>
                <span class="list-group-item-data">14/03/2021</span>
            </a>
          </div>
    </div>
</div>